@import "tailwindcss";


/* Visible scrollbar */
.scrollbar-visible::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-visible::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background: #facc15; /* yellow */
  border-radius: 10px;
}


 @layer components {
  .input {
    @apply w-full px-6 py-4 border border-[#D0D7E2] rounded-2xl 
           text-base text-gray-700 placeholder:text-gray-400
           focus:outline-none focus:ring-2 focus:ring-blue-300;
  }
}
